*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#top{
    height: calc(100vh - 75px);
}

#bottom{
    height: 75px;
    background-color: rgb(54, 54, 54);
}

.top-content{
    height: 100%;
    display: flex;
}

#side-bar{
    width: 200px;
    background-color: black;
}

#main-bar{
    width: calc(100vw - 200px);
    background-color: rgb(1, 1, 47);
    color: white;
    overflow-y: auto;
}

header{
    height: 75px;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.container{
    width: 100%;
    margin-top: 75px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-100{
    width: 100%;
    margin: 10px;
    height: 50px;
    background-color: orange;
}

.col-17{
    width: calc(100% / 6 - 20px);
    margin: 10px;
    height: 200px;
    background-color: orange;
}